# Ansible
playbook/config/*.log

# SSH keys for docker
.ssh/keys/*
!.ssh/keys/README.md

# SSH keys for Ansible
playbook/roles/common/tasks/files/keys


# Environment
.env
.vscode
.vagrant
doc/deployments/*
playbook/inventories/*/host_vars/test*.yml
playbook/inventories/development/host_vars/dev-*.yml
playbook/inventories/staging/host_vars/sta-*.yml
playbook/inventories/staging/host_vars/pro-*.yml
