# Ansible
playbook/config/*.log

# SSH keys for docker
.ssh/keys/*
!.ssh/keys/README.md

# SSH keys for Ansible
playbook/roles/common/tasks/files/keys


# Environment
.env
.vscode
.vagrant
doc/deployments/*
