# supervisord service for systemd
[Unit]
Description=Supervisor daemon
After=rc-local.service nss-user-lookup.target network-online.target

[Service]
Type=simple
ExecStart={{ supervisord_bin_path }} -n -c {{ supervisord_conf_file }}
ExecStop={{ supervisorctl_bin_path }} $OPTIONS shutdown
ExecReload={{ supervisorctl_bin_path }} $OPTIONS reload

# The service process and all its children can never gain new privileges
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
